* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.game-board {
   width: 100%;
   height: 750px;
   border-bottom: 15px solid #48e242;
   margin: 0 auto;
   position: relative;
   overflow: hidden;
   background: linear-gradient(#69c3daf6, #a6d7e4f6);
}

.game-over-overlay {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: rgba(0, 0, 0, 0.8);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   z-index: 10;
   color: white;
}

.game-over-overlay img {
   width: 700px;
}
.tijolos {
   width: 100%;
   height: 200px; /* altura da faixa de tijolos */
   background-image: url("../imgs/tijolos.avif");
   background-repeat: repeat-x; /* repete na horizontal */
   background-size: auto 200px; /* mantém a proporção da img e ajusta altura */
}

.button {
   position: relative;
   display: inline-block;
   margin: 20px;
}

.button a {
   color: rgb(0, 0, 0);
   font-family: Helvetica, sans-serif;
   font-weight: bold;
   text-transform: uppercase;

   font-size: 24px;
   text-align: center;
   text-decoration: none;
   background-color: #49e20d;
   display: block;
   position: relative;
   padding: 20px 40px;

   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   text-shadow: 0px 1px 0px #000;
   filter: dropshadow(color=#000, offx=0px, offy=1px);

   -webkit-box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #7b9100;
   -moz-box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #7b9100;
   box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #7b9100;

   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}

.button a:active {
   top: 10px;
   background-color: #63f700;

   -webkit-box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #7b9100;
   -moz-box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3pxpx 0 #7b9100;
   box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #7b9100;
}

.button:after {
   content: "";
   height: 100%;
   width: 100%;
   padding: 4px;
   position: absolute;
   bottom: -15px;
   left: -4px;
   z-index: -1;
   background-color: #222b00;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}
.score {
   display: flex;
   align-items: center;
   justify-content: left;
   width: 400px;
}
.score-texto {
   font-size: 36px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 900;
   color: #000000;
   margin-left: 10px;
}
.score-img {
   margin-left: 15px;
}
.pipes {
   position: absolute;
   bottom: 0;
   width: 80px;
   animation: pipe-animation 1.5s infinite linear;
}
.mario {
   width: 150px;
   bottom: 0px;
   position: absolute;
}
.jump {
   animation: mario-animation 500ms ease-in-out;
}
.clouds {
   width: 550px;
   position: absolute;
   animation: clouds-animation 20s infinite linear;
}
@keyframes pipe-animation {
   from {
      right: -80px;
   }
   to {
      right: 100%;
   }
}
@keyframes mario-animation {
   0% {
      bottom: 0;
   }
   40% {
      bottom: 180px;
   }
   50% {
      bottom: 180px;
   }
   60% {
      bottom: 180px;
   }
   100% {
      bottom: 0;
   }
}
@keyframes clouds-animation {
   from {
      right: -550px;
   }
   to {
      right: 100%;
   }
}
